  <div  class="navbar-end centered-navbar-end">
      <a class="navbar-item" href="/">
          <img src="https://portalweb.insico.cl/IslaDeMaipo/Aseo/resources/img/LOGO-MUNICIPALIDAD.png" alt="Municipalidad" width="90" height="90">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
      </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
          <a class="navbar-item" href="/">
              Inicio
          </a>
          <a class="navbar-item" href="/foro">
              Foro
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                  Más
              </a>
              <div class="navbar-dropdown">
                  <a class="navbar-item" href="/nosotros">
                      Nosotros
                  </a>
                  <a class="navbar-item" href="/contacto">
                      Contacto
                  </a>
              </div>
          </div>
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
              <div class="buttons">
                <a class="button-login button-admin" href="/administracion">
                    <strong>Administrador</strong>
                </a>
                <a class="button-login button-cerrar" href="/cerrar-sesion">
                    <strong>Cerrar Sesión</strong> <i class="fas fa-sign-in-alt"></i>
                </a>
              </div>
          </div>
      </div>

      
