npm init
npm install --save-dev nodemon
npm install -save ejs
npm install --save express-ejs-layouts
npm install --save sequelize pg
npm install --save connect-flash cookie-parser express-session
npm install --save express-validator
npm install -D babel-loader @babel/core @babel/preset-env webpack webpack-cli
npm install --save concurrently
npm install --save leaflet-geosearch
npm install moment --save