<main>
    <div class="eliminar-container">

        <form class="eliminar-form" method="POST">
            <h1 class="eliminar-title">Eliminación de la Categoria</h1>

            <legend class="eliminar-legend">¿Deseas <span class="nombre-pagina"><%- nombrePagina %></span>?</legend>
            <p class="eliminar-text">Al eliminar la categoria no se podrá <b>RECUPERAR</b></p>
            <br>
            <div>
                <button class="eliminar-button">Eliminar Categoria</button>
            </div>
        </form>
    </div>
</main>