.navbar {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    position: relative; 
    z-index: 1; 
  }
  .centered-navbar-end {
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.button-cerrar {
  background-color: #FF6B6B;
  color: white; 
  padding: 6px 20px;
  border-radius: 5px; 
  font-weight: bold; 
  margin-right: 10px; 
}
.button-iniciar {
  background-color: #007BFF;
  color: white; 
  padding: 6px 20px;
  border-radius: 5px; 
  font-weight: bold; 
  margin-right: 10px; 
}

.button-admin {
  background-color: #6BBF45;
  color: white; 
  padding: 6px 20px;
  border-radius: 5px; 
  font-weight: bold; 
  margin-right: 10px; 
}
